<style>
    div.display {
        /*display: flex;*/
        backgroundColor: '#fff';
        font-color: '#000';
        font-family: "LiberationSans", sans-serif;
    }

    div.sugaranddelta {
        display: grid;
        grid-template-columns: 350px 100px 100px 250px;
        grid-gap: 20px;
        width: 100%;
    }

    div.sugar {
        font-size: 210px;
        font-weight: bold;
        text-align: center;
        padding-left: 40px;
    }

    div.sign {
        font-size: 100px;
        font-weight: bolder;
        text-align: right;
        padding-left: 40px;
        padding-top: 70px;
        padding-right: 0;
        margin-right: 0;
    }

    div.delta {
        font-size: 100px;
        font-weight: bolder;
        padding-top: 70px;
        padding-right: 55px;
    }

    div.arrow {
        font-size: 150px;
        font-weight: 500;
        padding-top: 20px;
    }


    div.timeandgraph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px9
        width: 100%;
        padding-left: 30px;
        font-weight: bold;
    }


    div.age {
        font-size: 100px;
        padding-top: 25px;
        padding-left: 30px;
    }

    div.graph {
        width: 400px;
        padding: 10px;
    }

    /*canvas {*/
    /*    max-height: 200px;*/
    /*}*/
</style>
<div class="screen">
    <div class="view view--full">
        <div class="display">
            <div class="sugaranddelta">
                <div class="grid-child sugar">
                    <text>{{ sugar }}</text>
                </div>
                <div class="grid-child sign">
                    <text>{{ sign }}</text>
                </div>
                <div class="grid-child delta">
                    <text>{{ delta }}</text>
                </div>
                <div class="grid-child arrow">
                    <text>{{ arrow }}</text>
                </div>
            </div>
            <div class="timeandgraph">
                <div class="grid-child age">
                    <text>{{ age }} min</text>
                </div>
                <div class="grid-child graph">
                    <canvas id="glucoseChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function parseGlucoseData(data) {
        // Sort by date (oldest first) and extract values
        const sorted = data.sort((a, b) => a.timestamp - b.timestamp);
        const labels = sorted.map(r => {
            const d = new Date(r.date);
            return d.toLocaleTimeString('de-AT', {
                hour: '2-digit',
                minute: '2-digit'
            });
        });

        const values = sorted.map(r => r.smoothed);
        return {labels, values};
    }

    function createChart(labels, values) {
        const ctx = document.getElementById('glucoseChart').getContext('2d');

        Chart.defaults.font.size = 24;
        Chart.defaults.font.weight = 'bold';

        const minValue = Math.min(...values);
        const maxValue = Math.max(...values);
        const min = 10; //maxValue <= 200 ? 0 : 190;
        const max = maxValue <= 200 ? 210 : 400;

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    borderColor: '#000',
                    backgroundColor: 'rgba(255, 255, 255, 1.0)',
                    borderWidth: 3,
                    tension: 0.6,
                    fill: false,
                    pointRadius: 3
                }]
            },
            options: {
                animation: {
                    duration: 0
                },
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false
                    },
                    annotation: {
                        drawTime: "afterDraw",
                        annotations: [{
                            id: "line70",
                            type: "line",
                            mode: "horizontal",
                            scaleID: "y",
                            value: 70,
                            borderWidth: 2,
                            borderColor: "#000000",
                            borderDash: [2, 4],
                        }, {
                            id: "line180",
                            type: "line",
                            mode: "horizontal",
                            scaleID: "y",
                            value: 180,
                            borderWidth: 2,
                            borderColor: "#000000",
                            borderDash: [2, 4],
                        }]
                    }
                },
                scales: {
                    y: {
                        beginAtZero: false,
                        min: min,
                        max: max,
                    },
                    x: {
                        display: false
                    }
                }
            }
        });
    }

    function drawGraph() {
        const smoothedData = {{ rawEntries }};

        // Initialize the chart
        const {labels, values} = parseGlucoseData(smoothedData);

        createChart(labels, values);
    }

    drawGraph();
</script>
</body>
</html>